section{
    width: 1920px;
    height: 900px;
    padding: 2rem 4rem;
    background-color: rgb(252, 255, 46);
}
.hello{ 
     width: 1800px;
     height: 640px;
     display: flex;
     background-color: rgb(222, 235, 113);
}
.texto{
    width:750px;
    height: 640px;
    padding: 1rem;
    flex-direction: row;
    background-color: rgb(127, 168, 255);
}
.sarah{
    font-size: 74px;
}
.creator{
    font-size: 40px;
}
.few{
    font-size: 24px;
}
.imagen{
    width: 850px;
    height: 640px;
    flex-direction: row;
    background-color: black;
}
.persona{
    width: 700px;
    height: 581px;
  
    
}
.redes{
    width: 1600px ;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 198, 255);
}
.face{
    height: 40px;
    padding: 7px ;
    flex-direction: row;
}
.li{
    height: 40px;
    padding: 7px ;
    flex-direction: row;
}
.be{
    height: 40px;
    padding: 7px ;
    flex-direction: row;
}
.twi{
    height: 40px;
    padding: 7px ;
    flex-direction: row;

}